# Study02 : Pandas

Pandas를 사용하기 위해선 numpy 라이브러리도 가져와야한다.

데이터 분석 조작 정제를 할 수 있도록해주는 라이브러리이다.

dataFrame, series이 주로 사용된다.

In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

Pandas에서 list 만들기 : Series

데이터 관리, 분석하는 메소드를 사용할 수 있으며 라벨링을 하는데 효과적이다.

In [4]:
import numpy as np
import pandas as pd

s = pd.Series([1,3,5,7,9])
s

0    1
1    3
2    5
3    7
4    9
dtype: int64

다음과 같이 딕셔너리를 dataFrame으로 변경할 수 있다.

In [5]:

data = {'Name': ['John', 'Bill', 'Tom'],
        'height': [172, 168, 185],
        'weight': [67, 72, 88]
       }

df = pd.DataFrame(data)
df

   Name  height  weight
0  John     172      67
1  Bill     168      72
2   Tom     185      88

In [6]:
df.index
df.columns

RangeIndex(start=0, stop=3, step=1)

Index(['Name', 'height', 'weight'], dtype='object')

다음과 같이 파일에서 데이터를 가지고 올 수 있다.

기본적으로 첫 행을 데이터프레임의 열로 잡기 때문에, 데이터만 있을 경우 header = None을 사용하고

columns를 지정해준다

In [7]:
df = pd.read_csv('iris.csv', header = None)

df.columns = ['slength', 'swidth', 'plength', 'pwidth', 'class']
df

     slength  swidth  plength  pwidth           class
0        5.1     3.5      1.4     0.2     Iris-setosa
1        4.9     3.0      1.4     0.2     Iris-setosa
2        4.7     3.2      1.3     0.2     Iris-setosa
3        4.6     3.1      1.5     0.2     Iris-setosa
4        5.0     3.6      1.4     0.2     Iris-setosa
..       ...     ...      ...     ...             ...
145      6.7     3.0      5.2     2.3  Iris-virginica
146      6.3     2.5      5.0     1.9  Iris-virginica
147      6.5     3.0      5.2     2.0  Iris-virginica
148      6.2     3.4      5.4     2.3  Iris-virginica
149      5.9     3.0      5.1     1.8  Iris-virginica

[150 rows x 5 columns]

In [9]:
# 데이터 보기
df.head(3)
df.tail(3)

   slength  swidth  plength  pwidth        class
0      5.1     3.5      1.4     0.2  Iris-setosa
1      4.9     3.0      1.4     0.2  Iris-setosa
2      4.7     3.2      1.3     0.2  Iris-setosa

     slength  swidth  plength  pwidth           class
147      6.5     3.0      5.2     2.0  Iris-virginica
148      6.2     3.4      5.4     2.3  Iris-virginica
149      5.9     3.0      5.1     1.8  Iris-virginica

count = 데이터의 개수를 알려준다.
mean = 평균
std = 표준편차
min ~ max : 데이터의 min, 25% 50% 75% max를 출력해준다.

In [10]:
df.describe()

          slength      swidth     plength      pwidth
count  150.000000  150.000000  150.000000  150.000000
mean     5.843333    3.054000    3.758667    1.198667
std      0.828066    0.433594    1.764420    0.763161
min      4.300000    2.000000    1.000000    0.100000
25%      5.100000    2.800000    1.600000    0.300000
50%      5.800000    3.000000    4.350000    1.300000
75%      6.400000    3.300000    5.100000    1.800000
max      7.900000    4.400000    6.900000    2.500000

In [11]:
# 이와 같이 열의 이름으로 데이터를 조회할 수 도 있다.
df['slength']
df[['slength', 'plength']]

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: slength, Length: 150, dtype: float64

     slength  plength
0        5.1      1.4
1        4.9      1.4
2        4.7      1.3
3        4.6      1.5
4        5.0      1.4
..       ...      ...
145      6.7      5.2
146      6.3      5.0
147      6.5      5.2
148      6.2      5.4
149      5.9      5.1

[150 rows x 2 columns]

loc : 특정 열,행을 선택하는데 사용됨.

iloc : 정수 기반 인덱스 위치를 사용해 행과 열을 선택하기 위해 사용됨.

In [12]:
df.loc[[0,2,4],['slength', 'plength']]
df.iloc[0:3,0:3]

   slength  plength
0      5.1      1.4
2      4.7      1.3
4      5.0      1.4

   slength  swidth  plength
0      5.1     3.5      1.4
1      4.9     3.0      1.4
2      4.7     3.2      1.3

특정 피처의 값이 이상 이하일때만 출력할 수도 있음

In [13]:
df[df['slength']>7.5]

     slength  swidth  plength  pwidth           class
105      7.6     3.0      6.6     2.1  Iris-virginica
117      7.7     3.8      6.7     2.2  Iris-virginica
118      7.7     2.6      6.9     2.3  Iris-virginica
122      7.7     2.8      6.7     2.0  Iris-virginica
131      7.9     3.8      6.4     2.0  Iris-virginica
135      7.7     3.0      6.1     2.3  Iris-virginica

In [16]:
np.mean(df.slength)
np.max(df.slength)
np.min(df.slength)

5.843333333333334

7.9

4.3

dataFrame에서 원하는 행과 열에 대한 데이터를 list로 가져올 수 있음.

In [17]:
x = df.iloc[0:10,[0,2]].values
x

array([[5.1, 1.4],
       [4.9, 1.4],
       [4.7, 1.3],
       [4.6, 1.5],
       [5. , 1.4],
       [5.4, 1.7],
       [4.6, 1.4],
       [5. , 1.5],
       [4.4, 1.4],
       [4.9, 1.5]])